body {
  font-family: "Lucida Console", Monaco, monospace !important; }

#content-binding {
  max-width: 1200px;
  width: 100%;
  margin: 25px auto 50px auto;
  overflow: auto; }
  @media screen and (max-width: 800px) {
    #content-binding {
      padding: 15px;
      width: auto; } }

header.blog-header {
  overflow: auto; }
  header.blog-header h1 {
    color: #c00;
    font-size: 2.57em;
    float: left;
    font-family: "Lucida Console", Monaco, monospace !important; }
    header.blog-header h1 a {
      color: #c00; }
      header.blog-header h1 a:hover {
        text-decoration: none; }
  header.blog-header form#site-search {
    margin-top: 20px;
    float: right; }

.home.featured-posts {
  margin: 10px 0;
  width: 100%;
  float: left; }
  @media screen and (max-width: 750px) {
    .home.featured-posts {
      height: auto; } }
  .home.featured-posts a.post {
    display: block;
    width: 49%;
    border: 1px solid #666;
    overflow: hidden;
    position: relative;
    background: none;
    overflow: hidden;
    float: left;
    height: 200px; }
    .home.featured-posts a.post:last-child {
      float: right; }
    .home.featured-posts a.post .thumb {
      width: 28%;
      height: 100%;
      float: left;
      border-right: 1px solid #666; }
      @media screen and (max-width: 750px) {
        .home.featured-posts a.post .thumb {
          width: 100%;
          height: 150px;
          border-right: none;
          border-bottom: 1px solid #666;
          float: none; } }
    .home.featured-posts a.post .headline-wrapper {
      float: right;
      width: 70%;
      height: 100%; }
      @media screen and (max-width: 750px) {
        .home.featured-posts a.post .headline-wrapper {
          height: auto;
          width: 100%;
          padding: 20px; } }
    .home.featured-posts a.post h1 {
      padding: 20px 20px 0 20px;
      margin: 0;
      font-size: 25px;
      height: 40%;
      line-height: 100%;
      font-family: "Lucida Console", Monaco, monospace !important; }
      @media screen and (max-width: 750px) {
        .home.featured-posts a.post h1 {
          padding: 0;
          height: auto; } }
    .home.featured-posts a.post p {
      color: #666;
      font-family: "Lucida Console", Monaco, monospace !important;
      font-size: 13px; }
      .home.featured-posts a.post p.meta {
        height: 10%;
        padding: 0 20px 0 20px; }
      .home.featured-posts a.post p.excerpt {
        height: 40%;
        padding: 0 20px 0 20px; }
      @media screen and (max-width: 750px) {
        .home.featured-posts a.post p {
          height: auto;
          padding: 10px 0 0 0; } }
    @media screen and (max-width: 750px) {
      .home.featured-posts a.post {
        width: 100%;
        float: none;
        height: auto;
        margin-bottom: 15px; } }

.home-content {
  width: 100%;
  float: left;
  margin-top: 40px; }
  .home-content .left {
    float: left;
    width: 75%; }
  .home-content .right {
    float: right;
    width: 23%; }
    .home-content .right h2 {
      margin-top: 0; }
    .home-content .right nav.category-menu ul {
      list-style: none;
      padding-left: 0; }
      .home-content .right nav.category-menu ul li {
        padding: 10px 0 10px 0;
        border-top: 1px solid #CCC; }

.home.category-posts {
  position: relative;
  clear: both;
  width: 100%;
  float: left;
  /*
  .slick-arrow {
  	position: absolute;
  	background-image: url("../img/arrow.png");
  	background-size: cover;
  	border: none;
  	height:0;
  	width: 50px;
  	padding: 50px 0 0 0;
  	overflow: hidden;
  	top:50%;
  	transform: translateY(-50%);
  	&.slick-next {
  		right:-55px;
  		transform: translateY(-50%);
  	}
  	&.slick-prev {
  		left:-55px;
  		transform: translateY(-50%) scaleX(-1);
  		//transform: translateY(50%);
  	}
  }
  */ }
  @media screen and (max-width: 750px) {
    .home.category-posts {
      width: 80% !important; } }
  .home.category-posts .category {
    position: relative;
    width: 100%;
    float: left; }
    .home.category-posts .category.recent-posts h2 {
      margin-top: 0; }
  .home.category-posts .category-slider {
    width: 100%;
    float: left; }
  .home.category-posts a.post {
    display: block;
    width: 32%;
    margin-right: 1%;
    height: 200px;
    border: 1px solid #666;
    overflow: hidden;
    float: left;
    position: relative;
    background: none; }
    .home.category-posts a.post:last-child {
      margin-right: 0; }
    .home.category-posts a.post .headline-wrapper {
      position: absolute;
      bottom: 0;
      background: rgba(201, 191, 191, 0.9);
      width: 100%; }
    .home.category-posts a.post h1 {
      padding: 10px 20px 0px 20px;
      margin: 0;
      font-weight: normal;
      font-size: 15px;
      font-family: "Lucida Console", Monaco, monospace !important; }
    .home.category-posts a.post p {
      padding: 10px 20px 10px 20px;
      font-size: 12px;
      margin: 0; }

#blog-timeline {
  padding: 40px 0 50px 0;
  margin: 40px 0 40px 0;
  border-top: 1px solid #666;
  clear: both;
  float: left;
  width: 100%; }
  #blog-timeline article {
    width: 100%;
    float: left;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #CCC;
    margin-bottom: 30px; }
  #blog-timeline .thumb {
    height: 200px;
    width: 25%;
    float: left;
    border: 1px solid #CCC;
    background-size: cover;
    background-position: center; }
  #blog-timeline .copy {
    width: 73%;
    float: right; }
  #blog-timeline h1 {
    font-size: 28px;
    margin: 0;
    padding: 0; }
  #blog-timeline p {
    font-size: 14px;
    color: #000;
    margin: 0; }
    #blog-timeline p.meta {
      font-size: 13px;
      color: #666; }

#post-content {
  width: 70%;
  float: left; }
  #post-content .post-title {
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
    display: inline-block; }
  #post-content .meta {
    padding: 0 0 10px 0; }
  #post-content img.alignleft {
    float: left;
    margin: 0 10px 10px 0; }
  #post-content img.alignright {
    float: right;
    margin: 0 0 10px 10px; }
  #post-content p {
    font-size: 14px; }
  @media screen and (max-width: 800px) {
    #post-content {
      width: 100%;
      float: none;
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid #CCC; } }

#sidebar {
  width: 25%;
  float: right; }
  #sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  #sidebar .recent-articles .article {
    margin-top: 20px;
    overflow: auto; }
  #sidebar .recent-articles h2 {
    margin-top: 0; }
  #sidebar .recent-articles h3 {
    font-size: 16px;
    margin-top: 10px; }
  #sidebar .recent-articles img {
    float: left;
    margin: 0 8px 8px 0; }
  #sidebar .recent-articles .description {
    width: 100%;
    float: left;
    clear: both;
    font-size: 14px; }
  @media screen and (max-width: 800px) {
    #sidebar {
      width: 100%;
      float: none; } }

/*# sourceMappingURL=main.css.map */
